.focus {
  transition: transform 0.3s;
}

.focus:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 2em;
  font-weight: 700;
}

.image-style {
  width: 3em;
}

.font-details {
  font-size: 3em;
  font-weight: 500;
  color: #231d5af8;
}

.font-details-b {
  font-size: 3em;
  font-weight: 500;
  color: #ffffff;
}
.head {
    color:red;
    text-align: center;
}
.home{
  max-width: 2000px;
  max-height: 2000px;
  margin-left: auto;
  margin-right: auto;
}
.hello:hover{
  border: none;
  background: #ff7a59;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease; 
  
  
}
.home-row{
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    
}
.size{
  max-width: 4em;
  max-height: 8em;
}
.hello{
  height: 200px;
  
  width: 400px;
}
.home-row > div {
  margin: 20px;
}
@media (max-width: 800px) {
  .home-row {
    flex-direction: column;
  }
}

